<div class="top-bar">
    <span>🚚 Frete para todo o Brasil</span>
    <span>❤ Atendimento personalizado</span>
    <span>🔒 Compra segura</span>
</div>

<header class="header">
    <div class="navbar">
        <div class="logo">Divas de Cristo</div>

        <nav class="menu">
            <a href="{% url 'home' %}#inicio">Início</a>
            <a href="{% url 'home' %}#colecao">Coleção</a>
            <a href="{% url 'home' %}#destaques">Destaques</a>
            <a href="{% url 'home' %}#todos-produtos">Produtos</a>
            <a href="{% url 'home' %}#sobre">Sobre</a>
            <a href="/admin/" target="_blank">Admin</a>
            <a class="menu-btn" href="https://wa.me/5519994120578" target="_blank">WhatsApp</a>
        </nav>
    </div>
</header>