<div class="produto-card">
    <a href="{% url 'detalhe_produto' produto.id %}" class="produto-link">
        <div class="produto-img">
            {% if produto.imagem %}
                <img
                    src="{{ produto.imagem.url }}"
                    alt="{{ produto.nome }}"
                >
            {% endif %}
        </div>

        <div class="produto-info">
            <h3>{{ produto.nome }}</h3>
            <p>{{ produto.descricao }}</p>
        </div>
    </a>

    <div class="produto-footer">
        <div class="preco">R$ {{ produto.preco }}</div>

        <a href="https://wa.me/5519994120578?text=Olá,%20tenho%20interesse%20no%20produto:%20{{ produto.nome }}" target="_blank">
            Reservar
        </a>
    </div>
</div>